body {
  background-color: #e4f9f5;

}

hr {
  border-style: none;
  width: 10%;
  border-top: 5px dotted grey;
}

h1, h3 {
  color: #40514e;
}
.profile-image {
  border: solid 2px black;
  border-radius: 50%;
}